body {
    color: white;
    background-color: #36393f;
}

button {
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 20px;
    background-color: #b9bbbe;
}

a {
    color: cornflowerblue;
}

.header {
    margin-top: 80px;
    text-align: center;
}

#main-box {
  display: grid
}

#sselection-form {
    margin: 32px;
    font-size: 20px;
}

#fsearch-form {
    display: grid;
    grid-gap: 8px;
}

#fselection-form-search-lbl {
    grid-row: 1;
    grid-column: 1;
}

#fselection-form-search {
    grid-row: 1;
    grid-column: 2;
}

#fselection-form-dateb-lbl {
    grid-row: 2;
    grid-column: 1;
}

#fselection-form-dateb {
    grid-row:  2;
    grid-column: 2;
}

#fselection-form-datea-lbl {
    grid-row: 3;
    grid-column: 1;
}

#fselection-form-datea {
    grid-row: 3;
    grid-column: 2;
}

#fselection-form-sort-lbl {
    grid-row: 4;
    grid-column: 1;
}

#fselection-form-sort {
    grid-row: 4;
    grid-column: 2;
}

#fselection-form-btn {
    grid-area: 5/1/5/3;
}

.selection-form-lbl {
    padding-right: 12px;
}

#sselection-form-list {
    padding: 4px;
    font-size: 20px;
    background-color: #b9bbbe;
    border: none;
}

.selection-form-btn {
    padding: 4px;
    font-size: 20px;
    background-color: #b9bbbe;
}

#server-information {
    padding: 60px;
    text-align: left;
    font-size: 20px;
    grid-column: 1;
}

#server-icon {
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    width: 128px;
    height: 128px;
}

.users {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.active-member {
    padding: 24px;
    width: 364px;
    display: grid;
    overflow: clip;
    height: 156px;
    word-break: break-all;
}

.active-member-img {
    grid-area: 1/1/2/1;
    margin: 12px;
}

.active-member-username {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.active-member-id {
    grid-row: 4;
    grid-column: 2;
    font-size: 14px;
    margin: 7px 0px 7px 0px;
}

.active-member-flags {
    grid-row: 3;
    grid-column: 2;
    font-size: 14px;
    margin: 7px 0px 7px 0px;
}

.active-member-created {
    grid-row: 2;
    grid-column: 2;
    margin: 7px 0px 7px 0px;
}

#hide-members {
    display: none;
}

.show-hide-btns {
   padding: 8px;
   font-size: 20px;
   background-color: #b9bbbe;
   margin-left: 40px;
   width: 190px;
}

#emojis {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    grid-column: 2;
}

.emoji-div {
    display: flex;
    width: 372px;
    height: 40px;
    padding: 4px;
    align-items: center;
}

.emoji-name {
    padding-left: 16px;
}

.mselection {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#cslection-form {
    margin: 40px;
    font-size: 20px;
}

.selection-form-lbl {
    padding-right: 12px;
}

#cselection-form-list {
    padding: 4px;
    font-size: 20px;
    height: 32px;
    background-color: #b9bbbe;
    border: none;
}

#selection-form-btn {
    padding: 4px;
    font-size: 20px;
    height: 32px;
    background-color: #b9bbbe;
}

#sselection-form-search {
    height: 38px; /* + 2px padding */
    font-size: 20px;
}

.channel-information {
    margin-left: 68px;
    font-size:16px;
}

#cname {
    margin-left: -28px;
}

#cmsg {
    margin-left: 20px;
}

.cmsg-sender {
    padding-top: 8px;
}

.cmsg-sender-reply {
    padding-top: 28px
}

.cmsg-reply {
    font-size: 12px;
    padding-left: 16px;
}

.cmsg-mention {
    color: cornflowerblue;
}

.cmsg-btns {
    margin-left: 24px;
}

#cmsg-btn-down {
    width: 128px;
}

.cmsg-div {
    display: flex;
    flex-direction: row;
}

.cmsg-timestamp {
    font-size: 12px;
    align-self: end;
    margin-left: auto;
}

.cmsg-content {
    margin-left: 20px;
}

.cmsg-attachments {
    padding: 14px;
}

.cmsg-author {
    margin-top: 4px;
    margin-bottom: 4px;
}

.cmsg-break {
    /* color: black; */
    /* background-color: black; */
}

.vpadding-20 {
    padding: 20px;
}
