body {
    color: white;
    background-color: #36393f;
}

button {
    border: none;
    border-radius: 4px;
    padding: 16px;
    font-size: 20px;
    background-color: #b9bbbe;
}

a {
    color: cornflowerblue;
}

.header {
    margin-top: 80px;
    text-align: center;
}

#sselection-form {
    margin: 32px;
    font-size: 20px;
}

.selection-lbl {
    padding-right: 12px;
}

#sselection-form-list {
    padding: 8px;
    font-size: 20px;
    background-color: #b9bbbe;
    border: none;
}

#sselection-form-btn {
    padding: 8px;
    font-size: 20px;
    background-color: #b9bbbe;
}

.server-information {
    padding: 60px;
    text-align: center;
    font-size: 20px;
}

.users {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.active-member {
    padding: 24px;
    width: 364px;
    display: grid;
    overflow: clip;
    height: 156px;
    word-break: break-all;
}

.active-member-img {
    grid-area: 1/1/2/1;
    margin: 12px;
}

.active-member-username {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.active-member-id {
    grid-row: 4;
    grid-column: 2;
    font-size: 14px;
    margin: 7px 0px 7px 0px;
}

.active-member-flags {
    grid-row: 3;
    grid-column: 2;
    font-size: 14px;
    margin: 7px 0px 7px 0px;
}

.active-member-created {
    grid-row: 2;
    grid-column: 2;
    margin: 7px 0px 7px 0px;
}

#hide-members {
    display: none;
}

.show-hide-btns {
   padding: 16px;
   font-size: 20px;
   background-color: #b9bbbe;
   margin-left: 40px;
}

.channel-selection {
    margin: 40px;
    font-size: 20px;
}

.cselection-form-lbl {
    padding-right: 12px;
}

#cselection-form-list {
    padding: 8px;
    font-size: 20px;
    background-color: #b9bbbe;
    border: none;
}

#cselection-form-btn {
    padding: 8px;
    font-size: 20px;
    background-color: #b9bbbe;
}

.channel-information {
    margin-left: 68px;
    font-size:16px;
}

#cname {
    margin-left: -28px;
}

#cmsg {
    margin-left: 20px;
}

.cmsg-mention {
    color: cornflowerblue;
}

.cmsg-btns {
    margin-left: 24px;
}

#cmsg-btn-down {
    width: 148px;
}

.cmsg-div {
    display: flex;
    flex-direction: row;
}

.cmsg-timestamp {
    font-size: 12px;
    align-self: end;
    margin-left: auto;
}

.cmsg-content {
    margin-left: 20px;
}

.cmsg-attachments {
    padding: 14px;
}

.cmsg-author {
    margin-top: 4px;
    margin-bottom: 4px;
}

.cmsg-break {
    /* color: black; */
    /* background-color: black; */
}
